# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Models and large artifacts
models/
data/

# Virtual env
.venv/
venv/

# Editor / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
